$screen-xs: 480px;
$screen-sm: 750px;
$screen-md: 960px;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ffffff;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}


/*----------------------------------------------------------------------------------
Carosel Fun
----------------------------------------------------------------------------------*/
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.featureTextDiv {
  padding: 0 10% 0 15%;
}
.featureTextHeader {
  font-size: 44px;
  font-weight: 700;
}
.featureTextDesc {
  font-size: 16px;
}
.featureText{
  color: #ffffff;
}
.carouselImageDiv {
  height: auto;
  width: 100%;
}
.carouselImageGradient {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background: -webkit-linear-gradient(left, #333333,  rgba(51,51,51,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #333333, rgba(51,51,51,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #333333, rgba(51,51,51,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #333333, rgba(51,51,51,0)); /* Standard syntax */

  //  background: -webkit-linear-gradient(left, #333333, rgba(51,51,51,0.8) 25%,  rgba(51,51,51,0)); /* For Safari 5.1 to 6.0 */
  //  background: -o-linear-gradient(right, #333333, rgba(51,51,51,0.8) 25%, rgba(51,51,51,0)); /* For Opera 11.1 to 12.0 */
  //  background: -moz-linear-gradient(right, #333333, rgba(51,51,51,0.8) 25%, rgba(51,51,51,0)); /* For Firefox 3.6 to 15 */
  //  background: linear-gradient(to right, #333333, rgba(51, 51, 51, 0.8) 25%, rgba(51, 51, 51, 0)); /* Standard syntax */
}


/*----------------------------------------------------------------------------------
Portfolio Page
----------------------------------------------------------------------------------*/
.longWheel {
  position: relative;
  left: -51px;
  top: -35px;
}
.vItem {
  width: 241px;
}
.vItem > p {
  padding-top: 10px;
  text-align: center;
}






/*----------------------------------------------------------------------------------
TEXT
----------------------------------------------------------------------------------*/
.header1 {
  color:#888888;
  font-family:'ArialMT';
  font-size:44px;
}

.header2 {
  color:#555555;
  font-family:'Arial-BoldMT';
  font-size:16px;
}
.generalText {
  color:#888888;
  font-family:'ArialMT';
  font-size:16px;
}

.clientQuote {
  color:#888888;
  font-family:'Arial-ItalicMT';
  font-size:16px;
}
.logoText {
  color: #000;
  font-family:'Arial-BoldMT';
  font-size:16px;
}
.copyRight {
  text-align: center;
  color:#ffffff;
  font-family:'Arial-BoldMT';
  font-size:16px;
}

/*----------------------------------------------------------------------------------
Text Color
----------------------------------------------------------------------------------*/

.darkText {
  color: #888888;
}


/*----------------------------------------------------------------------------------
Nav BAR
----------------------------------------------------------------------------------*/
#js-navbar-collapse {
 float:right
}
.navBar-icons {
  padding: 0 8% 0 8%;
}

.navDark {
  background-color: #333333;
}

// ---- Dark Theme ---- //
.navbar-dark {
  border-width: 0;
  background: -webkit-linear-gradient(#333333, #333333 90%, rgba(51,51,51,0.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#333333, #333333 90%,rgba(51,51,51,0.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#333333, #333333 90%,rgba(51,51,51,0.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#333333, #333333 90%,rgba(51,51,51,0.5)); /* Standard syntax */
}
.navbar-dark .navbar-nav > li > a {
  color: #888;
}
.navbar-dark .navbar-nav > li > a:hover, .navbar-dark .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #333333;
}
.navbar-dark .navbar-nav > .active > a, .navbar-dark .navbar-nav > .active > a:hover, .navbar-dark .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #333333;
}
// Border of menu button on hover
.navbar-dark .navbar-toggle {
  border-color: #888;
}
// Background of menu button on hover
.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #333333;
}
// Menu button bar colors
.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888;
}
// Bar seperator on open
.navbar-dark .navbar-collapse,
.navbar-dark .navbar-form {
  border-color: #ffffff;
}


/*----------------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------------*/
.socialBar {
  margin-top: 20px;
  float: right;
  display: inline;
}
.socialList{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.socialList li{
  display: inline;
}


// ---- Light Theme ---- //
.navbar-light {
  background-color: transparent;
  border-color: transparent;
}
.navbar-light .navbar-nav > li > a {
  color: #888;
}
.navbar-light .navbar-nav > li > a:hover, .navbar-light .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-light .navbar-nav > .active > a, .navbar-light .navbar-nav > .active > a:hover, .navbar-light .navbar-nav > .active > a:focus {
  color: #333333;
  background-color: transparent;
}
// Border of menu button on hover
.navbar-light .navbar-toggle {
  border-color: #888;
}
// Background of menu button on hover
.navbar-light .navbar-toggle:hover, .navbar-light .navbar-toggle:focus {
  background-color: transparent;
}
// Menu button bar colors
.navbar-light .navbar-toggle .icon-bar {
  background-color: #888;
}
// Bar seperator on open
.navbar-light .navbar-collapse,
.navbar-light .navbar-form {
  border-color: #888;
}



/*----------------------------------------------------------------------------------
ROWS
----------------------------------------------------------------------------------*/
.rowSpacing {
  margin-top: 20px;
}
.rowSpacingLarge {
  margin-top: 40px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.dummy {
//  padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align:center; /* Align center inline elements */
  font: 0/0 a;
}

.img-container:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.img-container img {
  vertical-align: middle;
  display: inline-block;
}




.divBorder {
  border: 10px solid;
  border-color: #888;
}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1280px;
  }

  .containerFull {
    width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
