
<div class="navDark" style="width:100%;">
  <div class="container content" style="padding-top:50px">
    <div class="container">
      <div style="padding: 0 16% 0 12%">
        <img src="images/team_cowboys.jpg" alt="Team" style="max-width: 100%; height: auto; ">
      </div>
    </div>
  </div>
</div>


<div class="container">

  <p class="header1 text-center">Award winning productions since 1987</p>
  <div style="margin-left: auto; margin-right: auto; max-width: 461px">
    <p class="generalText text-center" style="max-width: 461px">
      We produce the highest quality digital media for our clients.
      We have been delivering award winning programs to our clients,
      distribution companies and the networks for over twenty years.
      <br /><br />
      We will do the same for you.
    </p>
  </div>

  <div style="padding: 30px 25% 40px 25%">
    <img src="images/funWheel.png" alt="wheel" style="max-width: 100%; height: auto; ">
  </div>
</div>

<div style="width: 100%; max-height: 239px">
  <div style="max-width: 1280px; margin-left: auto; margin-right: auto;">
    <ul style="font-size: 0; width: 100%; margin: 0; padding: 0; list-style-type: none;">
      <li style="display: inline;"><img style="max-width: 25%; max-height: 240px" src="images/cut/camera_sunset.jpg"></li>
      <li style="display: inline;"><img style="max-width: 25%; max-height: 240px" src="images/cut/awards.jpg"></li>
      <li style="display: inline;"><img style="max-width: 25%; max-height: 240px" src="images/cut/gill_camera_pic.jpg"></li>
      <li style="display: inline;"><img style="max-width: 25%; max-height: 240px" src="images/cut/director_point_of_view.jpg"></li>
    </ul>

  </div>
</div>

<div class="container">
  <div style="padding: 40px 25% 40px 25%">
    <img src="images/funWheel.png" alt="wheel" style="max-width: 100%; height: auto; ">
  </div>

  <div>
    <img src="images/clapper.png" style="width: 100%;">
    <div class="divBorder" style="padding: 5px 5px 5px 5px">
      <div class="row">
        <div class="col-md-6 rowSpacing">
          <p class="header2">Development</p>
          <p class="generalText">The script for the project is written or acquired by engaging a writer to create an original screenplay.</p>
        </div>
        <div class="col-md-6 rowSpacing">
          <p class="header2">Pre Production</p>
          <p class="generalText">The production company selects a director and actors, prepares a budget, creates a filming schedule, secures locations, and hires a crew.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 rowSpacing">
          <p class="header2">Principal Photography (Production)</p>
          <p class="generalText">This is where we make your story come to life.</p>
        </div>
        <div class="col-md-6 rowSpacing">
          <p class="header2">Post Production</p>
          <p class="generalText">Post production includes the editing of raw footage, scoring of music and the final mixing of dialogue, music, and sound-effect tracks.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 rowSpacing">
          <p class="header2">Distribution</p>
          <p class="generalText">It is important to select distribution channels already in existence and staffed with professionals possessing appropriate backgrounds and clientele. We have worked with CUBE International for over 15 years.</p>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div style="padding: 40px 25% 0 25%">
      <img src="images/funWheel.png" alt="wheel" style="max-width: 100%; height: auto; ">
    </div>

    <div class="row">
      <div class="col-md-6 rowSpacingLarge">
        <p class="clientQuote">“Gil and the firsTVision™ team demonstrated excellent knowledge of the broadcasting and video production industry. With their detail and technical expertise they saved us a great amount of money over their competitors.”</p>
        <p class="header2">- ComWorld International</p>
      </div>
      <div class="col-md-6 rowSpacingLarge">
        <p class="clientQuote">“The tremendous effort to make our program a success was due to the great efforts of Gil's production team, an eye for detail and budget controls. We look forward to working them again.”</p>
        <p class="header2">- Alan Osmond</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 rowSpacingLarge">
        <p class="clientQuote">“In the end we realized that not only did firsTVision understand what we needed, they understood better than we did.”</p>
        <p class="header2">- Mindpix Corporation</p>
      </div>
      <div class="col-md-6 rowSpacingLarge">
        <p class="clientQuote">“We couldn't be more pleased with our final product. It was more than we had hoped for and everything we needed.”</p>
        <p class="header2">- Western National</p>
      </div>
    </div>

    <div style="padding: 40px 25% 40px 25%">
      <img src="images/funWheel.png" alt="wheel" style="max-width: 100%; height: auto; ">
    </div>
  </div>

</div>
