
<div class="navDark" style="width:100%;">
  <div class="container content" style="padding-top:50px">
    <div class="container">
      <div style="padding: 0 16% 0 12%">
        <img src="images/team_cowboys.jpg" alt="Team" style="max-width: 100%; height: auto; ">
      </div>
    </div>
  </div>
</div>


<div class="container">

  <p class="header1 text-center">Award winning productions since 1987</p>
  <div style="margin-left: auto; margin-right: auto; max-width: 461px">
    <p class="generalText text-center" style="max-width: 461px">
      We produce the highest quality digital media for our clients.
      We have been delivering award winning programs to our clients,
      distribution companies and the networks for over twenty years.
      <br /><br />
      We will do the same for you.
    </p>
  </div>

  <div style="padding: 0 25% 0 25%">
    <img src="images/funWheel.png" alt="wheel" style="max-width: 100%; height: auto; ">
  </div>
</div>

<div style="width: 100%; max-height: 239px">
  <div style="margin-top: 40px; margin-bottom: 40px; max-width: 1280px; margin-left: auto; margin-right: auto;">
    <ul style="font-size: 0; width: 100%; margin: 0; padding: 0; list-style-type: none;">
      <li style="display: inline;"><img style="max-width: 25%; max-height: 240px" src="images/cut/camera_sunset.jpg"></li>
      <li style="display: inline;"><img style="max-width: 25%; max-height: 240px" src="images/cut/awards.jpg"></li>
      <li style="display: inline;"><img style="max-width: 25%; max-height: 240px" src="images/cut/gill_camera_pic.jpg"></li>
      <li style="display: inline;"><img style="max-width: 25%; max-height: 240px" src="images/cut/director_point_of_view.jpg"></li>
    </ul>

  </div>
</div>

<div class="container">
  <div style="padding: 0 25% 0 25%">
    <img src="images/funWheel.png" alt="wheel" style="max-width: 100%; height: auto; ">
  </div>
</div>
