<div class="navDark">
  <div style="padding-top:50px">

    <div ng-controller="FeaturedCarouselCtrl as carouselCtrl">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li ng-repeat="video in carouselCtrl.featuredVideos"
              ng-class="{active:$index === 0}"
              data-target="#myCarousel"
              data-slide-to="{{$index}}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">


          <div class="item active">
            <div class="featureTextDiv">
              <p class="featureText">Hand Stand</p>
              <p class="featureText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <div class="carouselImageDiv">
              <img style="height: 100%; width: 100%;" src="images/featured/feature1.png" alt="Chania">
            </div>
          </div>

          <div class="item carouselImageDiv">
            <img src="images/featured/feature2.png" alt="Chania">
          </div>

          <div class="item carouselImageDiv">
            <img src="images/featured/feature3.png" alt="Flower">
          </div>

        </div>

        <!-- Left and right controls -->
        <!--<a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">-->
          <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
          <!--<span class="sr-only">Previous</span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">-->
          <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
          <!--<span class="sr-only">Next</span>-->
        <!--</a>-->

      </div>
    </div>


  </div>
</div>



<p>This is the portfolio view.</p>
