<div class="navDark .containerFull">
  <div style="padding-top:50px">

    <div ng-controller="FeaturedCarouselCtrl as carouselCtrl">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li ng-repeat="video in carouselCtrl.featuredVideos"
              ng-class="{active:$index === 0}"
              data-target="#myCarousel"
              data-slide-to="{{$index}}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">


          <div class="item active">

            <div class="row">
              <div class="col-md-4 col-sm-4 vcenter">
                <div class="featureTextDiv">
                  <p class="featureText featureTextHeader">Hand Stand</p>
                  <p class="featureText featureTextDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
              </div><!--
           --><div class="col-md-8 col-sm-8 vcenter"><!--
             --><div class="carouselImageDiv">
                  <img style="max-height: 480px; width: 100%;" src="images/featured/feature1.png" alt="Chania">
                </div>
                <div class="carouselImageGradient"></div>
              </div>
            </div>

          </div>




          </div>


          <!--<div class="item active" style="width: 100%; max-height: 239px">-->
            <!--<div style="max-width: 1280px; margin-left: auto; margin-right: auto;">-->
              <!--<ul style="font-size: 0; width: 100%; margin: 0; padding: 0; list-style-type: none;">-->
                <!--<li style="display: inline; width: 50%;">-->
                  <!--<p class="featureText">Hand Stand</p>-->
                  <!--<p class="featureText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>-->
                <!--</li>-->
                <!--<li style="display: inline; width: 50%;">-->
                  <!--<img style="height: 100%; width: 100%;" src="images/featured/feature1.png" alt="Chania">-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->



          <!--<div class="item carouselImageDiv">-->
            <!--<img src="images/featured/feature2.png" alt="Chania">-->
          <!--</div>-->

          <!--<div class="item carouselImageDiv">-->
            <!--<img src="images/featured/feature3.png" alt="Flower">-->
          <!--</div>-->

        </div>

        <!-- Left and right controls -->
        <!--<a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">-->
          <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
          <!--<span class="sr-only">Previous</span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">-->
          <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
          <!--<span class="sr-only">Next</span>-->
        <!--</a>-->

      </div>
    </div>


  </div>
</div>



<p>This is the portfolio view.</p>
