<div class="navDark .containerFull">
  <div style="padding-top:50px">

    <div ng-controller="FeaturedCarouselCtrl as carouselCtrl">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li ng-repeat="video in carouselCtrl.featuredVideos"
              ng-class="{active:$index === 0}"
              data-target="#myCarousel"
              data-slide-to="{{$index}}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div ng-class="{item:true, active:$index===0}" ng-repeat="video in carouselCtrl.featuredVideos">
            <div class="row">
              <div class="col-md-4 col-sm-4 vcenter">
                <div class="featureTextDiv">
                  <p class="featureText featureTextHeader">{{video.title}}</p>
                  <p class="featureText featureTextDesc">{{video.description}}</p>
                </div>
              </div><!--
           --><div class="col-md-8 col-sm-8 vcenter"><!--
             --><div class="carouselImageDiv">
                  <img style="max-height: 480px; width: 100%;" ng-src="{{video.png}}" alt="featured video">
                </div>
                <div class="carouselImageGradient"></div>
              </div>
            </div>
          </div>

        </div>



      </div>

        <!-- Left and right controls -->
        <!--<a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">-->
          <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
          <!--<span class="sr-only">Previous</span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">-->
          <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
          <!--<span class="sr-only">Next</span>-->
        <!--</a>-->

      </div>
    </div>


  </div>
</div>



<p>This is the portfolio view.</p>
